<p>
  <strong>last name:</strong>
  <%= @customer.lname %>
</p>

 <p>
  <strong>middle name:</strong>
  <%= @customer.mname %>
</p>

<p>
  <strong>first name:</strong>
  <%= @customer.fname %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @customer.dob %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.add %>
</p>

<p>
  <strong>State:</strong>
  <%= @customer.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<%= link_to 'Back', customers_path %>