<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>
 <p>
  <strong>Address:</strong>
  <%= @company.add %>
</p>
<p>
  <strong>City</strong>
  <%= @company.city %>
</p>
<p>
  <strong>State:</strong>
  <%= @company.state %>
</p>
<p>
  <strong>Email</strong>
  <%= @company.email %>
</p>

<%= link_to 'Back', companies_path %>